/* Common */
html {
  height: 100%;
}

html * {
  font-size: 1.1rem;
  font: normal normal normal 17px/1.4em 'open sans', sans-serif;
  color: #000000;
}

.vertical-list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vertical-list-container ul li {
  float: left;
}

.vertical-list-container ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}