/* Common */
html {
  height: 100%;
}

html * {
  font-size: 1.1rem;
  font: normal normal normal 17px/1.4em 'open sans', sans-serif;
  color: #000000;
}

.theme-color-orange {
  background-color: rgb(255, 210, 10) !important;
}

.theme-color-light-black {
  background-color: rgb(33, 33, 33) !important;
}

.vertical-list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vertical-list-container ul li {
  float: left;
}

.vertical-list-container ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

#maininfo {
  min-height: 600px;
  width: 100%;
  height: 100%;
  background-image: url('../images/mainImage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#infoTextContainer {
  max-width: 300px;
}

.infoText {
  color: white !important;
}

#iconsContainer
{
  min-height: 300px;
}

.single-limited-container{
  width: 100%;
  max-width: 980px;
}
