/* Common */
html {
  height: 100%;
}

/* html * {
  font-size: 1.1rem;
  font: normal normal normal 17px/1.4em 'open sans', sans-serif;
  color: #000000;
} */

.font_0 {
  font: normal normal normal 29px/1.4em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: #000000;
}

.font_1 {
  font: normal normal normal 55px/1.4em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: #000000;
}

.font_2 {
  font: normal normal normal 16px/1.4em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: #000000;
}

.footer-text {
  font: normal normal normal 13px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  color: #000000;
}

.theme-color-orange {
  background-color: rgb(240, 240, 240) !important;
}

.theme-color-light-black {
  background-color: rgb(33, 33, 33) !important;
}

/* unvisited link */
.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* mouse over link */
.navbar-nav a:hover {
  color: rgb(25, 170, 5) !important;
}

/* selected link */
.navbar-nav .a:active {
  color: rgb(25, 170, 5) !important;
}

.navbar-nav .nav-link.active {
  color: rgb(25, 170, 5) !important;
}

.nav-link-icon-ref {
  display: inline !important;
  text-align: center !important;
  padding: 0;
}

#mainImg {
  height: 100%;
  width: 100%;
}

.social-img {
  padding-left: 0px;
  padding-right: 3px;
}

.social-img1 {
  padding-left: 0px;
  padding-right: 7px;
}

.link-text {
  text-align: center;
  color: #000000;
}

.infoText {
  font: normal normal normal 50px/1.3em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: black;
}

.subInfoText {
  font: normal normal normal 30px/1.3em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: black;
}

.infoLinkText {
  font: normal normal normal 28px/1.3em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  color: black;
}

.infoNoteText {
  font: normal normal normal 15px/1em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: black;
}

.infoLink {
  border: solid rgba(0, 0, 0, 1) 2px;
  justify-content: center;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer !important;
}

/* mouse over link */
.infoLinkContainer a:hover {
  color: rgb(25, 170, 5) !important;
  border: solid rgb(25, 170, 5) 2px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}

/* selected link */
.infoLinkContainer .a:active {
  color: rgb(25, 170, 5) !important;
  border: solid rgb(25, 170, 5) 2px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}

.single-column-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.single-column-container-lower-limit {
  min-width: 900px;
}

.icon-column {
  display: flex;
  justify-content: center;
}

.icon-column-inner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: white;
  border-radius: 50%;
}

.icon {
  display: block;
  margin: 0 auto;
}

.icon-description {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font: normal normal normal 16px/1.4em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: #000000;
}

.theme-font-dark {
  color: #000000 !important;
}

.theme-font-light {
  color: white !important;
}

.article-stroke-dark {
  stroke: rgba(0, 0, 0, 1);
  fill: rgba(0, 0, 0, 1);
}

.article-stroke-light {
  stroke: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
}

.article-header {
  display: flex;
  font: normal normal normal 50px/1.4em georgia, palatino, 'book antiqua', 'palatino linotype', serif !important;
}

.article-header-icon {
  stroke-width: 50;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.article-header-description {
  line-height: 1.65;
}

#aboutMeImgContainer {
  max-width: 235px;
}

#aboutMeImg {
  max-width: 235px;
}

.contactIconContainer {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.contactIcon {
  object-fit: none;
}

.contactText {
  text-align: left;
  vertical-align: middle;
  line-height: 33px;
  padding-left: 10px;
  text-decoration: none;
}

#storeAddressContainer {
  position: absolute;
  bottom: 0;
}

#mapImgContainer {
  max-width: 450px;
}

#mapImg {
  width: 100%;
  height: 100%;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .infoText {
    font: normal normal normal 40px/1.1em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  }

  .subInfoText {
    font: normal normal normal 25px/1.2em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  }

  .infoLinkText {
    font: normal normal normal 23px/1.2em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  }

  .icon-column-inner {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #aboutMeImgContainer {
    max-width: none;
    padding-bottom: 10px;
  }

  #storeAddressContainer {
    position: inherit;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}